.row-navbar {
    height: auto;
    margin: 81px 13px 79px 0px;
    padding: 0px 0px 15px 0px;
    display: flex;
    width: 98%;
    background: #F4F4F4;
    border-radius: 10px;
    justify-content: space-between;
}
.main-blog-row {
    display: flex;
    width: 98%;
}
.img-header-blog {
    padding-top: 15px;
    padding-right: 45px;
}
.img-header-blog>img {
    width: 210px;
    height: auto;
}
.guide-blog {
    padding-left: 12px;
    margin-right: -40px;
}

.one-sub-guide-1 {
   display: flex;
   align-items: baseline;
    padding-right: 12px;
}
.one-sub-guide-1-1>span {
    font-family: 'KalamehWeb';
    font-size: 28px;
    line-height: 39px;
    text-align: justify;
    color: #1F8996;
}

.one-sub-guide-1-list {
    display: flex;
    justify-content: flex-end;
    padding-left: 8px;
    padding-top: 25px;
    list-style: none;
}
.blog-list-item {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 36px;
    color: #BFBFBF;;
    
}
.two-sub-guide {
    font-family: 'iranyekanlight';
    font-size: 17px;
    line-height: 31px;
    text-align: justify;
    color: #4D4D4D;
    padding-right: 0px;
    padding-left: 7px;
}

.three-sub-guide {
    display: flex;
    grid-gap: 25px;
    box-sizing: border-box;
    padding-top: 19px;
}
.tagbar-navbar {
    width: 92px;
    height: 34px;
    background: #1B6676;
    border-radius: 15px;
    text-align: center;
    padding-top: 2px;
    transition: 400ms;
}
.tagbar-navbar:hover {
    background: #71c1b8;
    transition: 400ms;
}
.tag {
    font-family: 'Iranyekanextrabold';
    font-size: 12px;
    color: #FFFFFF;
    word-spacing: -1px;
}
/* end navbar blog */

/* start main blog */

.section-reading {
    font-family: 'iranyekan';
    font-size: 17px;
    text-align: justify;
    padding-left: 90px;
    margin-bottom: 50px;
    color: #5C5C5C;
    line-height: 31px;
}
.one-sub-guide-1-1 {
    margin-bottom: 30px;
}
.edit {
    margin-top: 35px;
}
.one-sub-guide-1-10 {
    font-family: 'KalamehWeb';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 54px;
    /* identical to box height */

    background: linear-gradient(180deg, #239E63 22.92%, #558DB3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.row-item-main-blog {
    margin-top: 20px;
    margin-bottom: 38px;
    display: grid;
    column-gap: 39px;
    row-gap: -11px;
    grid-template-columns: auto auto auto;
    justify-content: flex-start;
}
.aside-blog-item {
    margin-top: -35px;
}
.aside-blog-img {
    margin-bottom: 35px;
}
.aside-blog-img>img {
    width: 240px;
}

.one-sub-guide-1-100>span {
    font-family: 'KalamehWeb';
    font-size: 28px;
    line-height: 39px;
    text-align: justify;
    color: #1F8996;
}
/* mobile */

.row-item-main-blog-mobile {
    display: none;
}